html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  background: var(--background-primary);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 150ms linear;
  color: var(--text-color-primary);
  font-family: "Tajawal";
}

*::selection {
  background: var(--highlight-color);
}

input {
  height: 40px;
  width: 150px;
  border: 0;
  background: var(--input-backround);
  padding: 10px;
}

input::placeholder {
  color: var(--placeholder-color);
}

:root {
  /* background */
  --background-primary: #f2f2f2;
  --background-secondary: white;
  --background-icon: rgba(0, 0, 0, 0.1);
  --input-backround: #f2f2f2;
  /* text */
  --text-color-primary: #202020;
  --placeholder-color: #909090;

  /* main colors */
  --color-primary: #2d9cdb;
  --highlight-color: rgba(86, 204, 242, 0.5);
}

:root.dark {
  /* background */

  --background-primary: black;
  --background-secondary: #202020;
  --background-article: #303030;
  --background-icon: rgba(255, 255, 255, 0.1);
  --input-backround: #303030;

  --highlight-color: rgba(86, 204, 242, 0.2);

  /* text */
  --text-color-primary: white;
  --placeholder-color: rgba(255, 255, 255, 0.6);
}
