html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  background: var(--background-primary);
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 150ms linear;
  color: var(--text-color);
  font-family: "Tajawal";
  -webkit-tap-highlight-color: transparent;
}

/* *::selection {
  background: var(--highlight-color);
} */

/* input {
  height: 40px;
  width: 150px;
  border: 0;
  background: var(--input-backround);
  padding: 10px;
}
 */
/* input::placeholder {
  color: var(--placeholder-color);
} */

:root {
  --background-primary: #f2f2f2;
  --background-secondary: white;
  --color-main: #0072ff;
  --text-color: #202020;
}

:root.dark {
  --background-primary: black;
  --background-secondary: #202020;
  --text-color: white;
}
